<div class="commentSection">
    <div class="comments">
        <h3>Comments</h3>

        <div class="com">
            <p class="user">Anna</p>
            <p>Microsoft 365 Copilot integra la inteligencia artificial para potenciar la productividad en el trabajo, ofreciendo asistencia en tiempo real y automatización de tareas repetitivas.</p>
            <button class="btn btn-dark ">Edit</button>
            <button class="btn btn-dark ">Delete</button>
        </div>
        <div class="com">
            <p class="user">Nikeshi</p>
            <p>Copilot es una herramienta innovadora que transforma la manera en que colaboramos y creamos contenido en Microsoft 365, facilitando el trabajo en equipo.</p>
            <button class="btn btn-dark ">Edit</button>
            <button class="btn btn-dark ">Delete</button>
        </div>
        <div class="com">
            <p class="user">Lauren</p>
            <p>Con Copilot, Microsoft 365 redefine el futuro del trabajo, optimizando procesos y mejorando la eficiencia en la gestión de documentos y comunicación.</p>
            <button class="btn btn-dark ">Edit</button>
            <button class="btn btn-dark ">Delete</button>
        </div>

        <% if (locals.userI && locals.userC)  {%>

            <div class="com">
                <p class="user"> <%= userI %></p>
                <p> <%= userC %></p>
                <button class="btn btn-dark ">Edit</button>
                <button class="btn btn-dark ">Delete</button>
            </div>
            <% } %>
    </div>

<div class="bd-example-snippet bd-code-snippet input-cnt">
    <h3> Leave Your Comment Here:</h3>
    <div class="bd-example m-0 border-0 frm-cnt">
        <form action="/submit" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="userId" placeholder="leave username here">
                <label for="floatingTextarea">User Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="textarea" class="form-control userComment" name="userComment" placeholder="leave comment here">
                <label for="floatingTextarea">Comment</label>
            </div>
            <button class="btn btn-dark">Post</button>
        </form>
    </div>
</div>  
</div>


</main>