<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 container-fluid">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">Copyright © <%= new Date().getFullYear() %></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="./IMG/X.svg"> <img class="bi" width="24" height="24" src="./IMG/X.svg" alt="X"> </a></li>
      <li class="ms-3"><a class="text-body-secondary" href="./IMG/Instagram.svg"> <img class="bi" width="24" height="24" src="./IMG/Facebook.svg" alt="Facebook"> </a></li>
      <li class="ms-3"><a class="text-body-secondary" href="./IMG/Facebook.svg"> <img class="bi" width="24" height="24" src="./IMG/Instagram.svg" alt="Instagram"> </a></li>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../index.js"></script>
    

</body>
</html>